NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCYl_hvWyyYb3SDcTLL-PcYhVikwUxT03k
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=rakshax-app.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=rakshax-app
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=rakshax-app.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=878665588053
NEXT_PUBLIC_FIREBASE_APP_ID=1:878665588053:web:1357c71e798efe25ed23dc
